*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
.lf{
  float: left;
}
.rf{
  float: right;
}
i{
  font-style: normal;
}
ul,li{
  list-style: none;
}
textarea{
  background: #fff;
  border: 0;
  font-size: 14px;
  color: #636262;
  font-weight: 500;
  resize:none;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  overflow: hidden;
}
button{
  outline: none;
}
.share-common{
  position: fixed;
  top: 50%;
  right: 0;
}
.good-share{
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 4px 6px 4px 28px;
  margin-left: 2px;
  font-size: 12px;
  color: #646566;
  line-height: normal;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background: #f7f8fa url(../img/share.png) no-repeat 8px 6px;
  background-size: 16px;
  width: 60px;
}
.good-share:active{
  background-color: #f2f2f2;
}
body{
  /* background: #f6f7f9; */
  font-size: 14px;
  margin: 0 auto;
  background-size: 3000px;
  max-width: 640px;
  padding-bottom: 46px;
  color: #323233;
}
body .swiper-slide, body .swiper-wrapper{
  height: auto;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #fff;
}
.top-wrap h1, .top-title h1{
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
}
.top-wrap h1 a{
  color: #333;
}
.banner{
  /* margin: 0 10px; */
  background: rgb(177, 44, 126);
  max-height: 213px;
  overflow: hidden;
}
.banner .swiper-container{
  overflow: hidden;
}
/* .module-unit{
  background: #fff;
  margin-bottom: 10px;
} */
.menu ul{
  height: 40px;
  line-height: 39px;
  background: #f6f7f9;
}
.menu ul li{
  float: left;
  width: 25%;
  text-align: center;
}
.menu ul li a{
  color: #323233;
  display: inline-block;
}
.menu ul li.active a{
  color: #f44;
  border-bottom: 1px solid #f44;
}
.m-base-info{
  padding: 10px 0 10px 16px;
  background: #fff;
}
.m-base-info .goods-price{
  margin-bottom: 8px;
}
.m-base-info .goods-price span{
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  margin-right: 2px;
  font-weight: 500;
  vertical-align: bottom;
  color: #f44;
}
.m-base-info .goods-price i{
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  line-height: 24px;
  font-weight: bolder;
  color: #f44;
}
.m-base-info .goods-title{
  position: relative;
  margin-bottom: 25px;
}
.m-base-info .goods-title h2{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}
.m-base-info .good-guarantee-bar{
  font-size: 12px;
  color: #646566;
  background: url(../img/zan.png) no-repeat left center;
  background-position: 1px 0px;
  background-size: 80px;
  height: 20px;
  padding-left: 90px;
}
.m-bsae-server{
  padding-left: 16px;
  line-height: 44px;
  font-size: 13px;
  color: #323233;
  background: #fff;
  border-top: 10px solid #f6f7f9;
  border-bottom: 10px solid #f6f7f9;
}
.m-bsae-server .server{
  color: #969799;
  margin-right: 12px;
}
.tab-wrap{
  background: #f6f7f9;
}
.tabs{
  background: #fff;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.tabs span{
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 14px;
  color: #7d7e80;
  font-weight: 500;
}
.active0 .tabs .tab0{
  color: #323233;
}
.active1 .tabs .tab1{
  color: #323233;
}
.tabs .van-tabs__line{
  position: absolute;
  bottom: 1px;
  left: 25%;
  margin-left: -21px;
  z-index: 1;
  height: 3px;
  background-color: #ee0a24;
  border-radius: 3px;
  width: 42px;
  transition: all 0.1s;
}
.tab-wrap.active1 .van-tabs__line{
  left: 75%;
}
.tab-wrap .goods-detail{
  padding: 10px;
}
.tab-wrap .goods-detail p{
  line-height: 26px;
  font-size: 14px;
  color: #333;
}
.tab-wrap .goods-detail img{
  margin-top: 10px;
}
.tab-wrap .goods-detail .promise{
  line-height: 20px;
}
.tab-wrap .trade-list {
  padding: 16px 10px 10px;
}
.trade-list li{
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  height: 100px;
}
.trade-list li:last-child{
  border: 0;
  margin: 0;
}
.trade-list li a{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.trade-list .diagram{
  width: 105px;  
  position: absolute;
  left: 0;
  top: 0;
}
.trade-list .diagram img{
  width: 100%;
  height: 90px;
}
.trade-list .cont{
  width: 100%;
  padding-left: 115px;
}
.trade-list .cont .trade-title{
  font-size: 14px;
  color: #333;
  font-weight: 600;
  margin-top: 1px;
  display: inline-block;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.trade-list .cont .essay{
  max-height: 40px;
  line-height: 20px;
  color: rgb(73, 73, 73);
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 13px;
}
.trade-list .cont .biaoshi{
  color: #898989;
  font-size: 12px;
  margin-top: 6px;
}
.order{
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
}
.order .order-cont{
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
}
.order .order-cont a{
  font-size: 12px;
  display: inline-block;
  color: #7d7e80;
  text-align: center;
  line-height: 46px;
  position: relative;
  margin-left: 18px;
  padding: 0 2px;
}
.order .order-cont span{
  font-size: 12px;
  position: absolute;
  left: 77px;
  top: 15px;
  color: #f95e5e;
}
.order button{
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  height: 30px;
  line-height: 30px;
  width: 120px;
  text-align: center;
  background: #f44;
  color: #fff;
  border-radius: 20px;
  border: 0;
}
.order button:active{
  background: rgb(192, 50, 50);
}
.contact{
  position: fixed;
  bottom: -200px;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: all 0.5s;
}
.contact .contact-cont{
  padding-top: 30;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.31);
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #eee;
}
.contact .contact-cont .tit{
  line-height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.contact .contact-cont h6{
  font-size: 14px;
}
.line{
  height: 5px;
  background: #f6f7f9;
}
.contact .contact-cont .close-model{
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
}
.contact .contact-cont .close-model:active{
  color: #f44;
}
.contact .contact-cont p{
  margin-bottom:20px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.contact .contact-cont p span{
  display: inline-block;
  line-height: 28px;
}
.contact .contact-cont p button, .contact .contact-cont p a{
  display: inline-block;
  padding: 5px 12px;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #ff4444;
  background: #fff;
}
.contact .contact-cont p button:active{
  background: #F2F2F2;
}
.contact .contact-cont textarea{
  height: 28px;
  line-height: 28px;
}
.mask{
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}
.fullguide-share{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 11;
  display: none;
}
.fullguide-share .fullguide__arrow{
  background: url(../img/guide.png) no-repeat;
  background-size: 66px 117px;
  position: absolute;
  top: 12px;
  right: 33px;
  width: 66px;
  height: 117px;
}
.fullguide-share .fullguide-share-inner{
  padding-top: 140px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.fullguide-share .fullguide-share-inner .fullguide-share__one{
  font-size: 20px;
  font-weight: 500;
}
.fullguide-share .not-fount-share{
  padding-top: 30px;
  color: #f44;
  text-align: center;
}
.fullguide-share .share-line{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.fullguide-share .share-line textarea{
  width: 160px;
  line-height: 30px;
  text-align: center;
  height: 30px;
}
.fullguide-share .share-line button{
  height: 30px;
  padding: 0 10px;
  border: 0;
}
.fullguide-share .share-line button:active{
  background: #ccc;
}
.confirm{
  position: fixed;
  top: -35px;
  left: 50%;
  width: 100px;
  line-height: 30px;
  border: 1px solid #8c4c4c;
  font-size: 16px;
  margin-left: -50px;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  color: #fff;
  transition: all 0.5s;
  z-index: 10;
  opacity: 0;
}
.page{
  max-width: 1000px;
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
  padding: 10px 0;
}
.page span, .page a{
  display: inline-block;
  padding: 3px 10px;
  margin: 2px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.09019);
  border-radius: 2px;
}
.page span {
  color: #828181;
}
.page a.active{
  background: #d18654;
  color: #fff;
}
.page span.current-page{
  border: 0;
  background: none;
  color: #666;
  box-shadow: none;
  font-size: 14px;
}
.page a{
  color: #000;
}
.page a:hover{
  color: #f07d7d;
}
.page a.active:hover{
  color: #fff;
}
/* 关于我们 */
.about-page{
  background: #fff;
}
.top-title h1{
  background: #fff;
}
#my-map{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.about-us {
  background: #fff;
  padding: 10px;
}
.about-us .column-title{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}
.about-us .us-cont{
  line-height: 26px;
  font-size: 14px;
  color: #636262;
}
/* 常见问题 */
.question-ban{
  padding: 10px;
}
.question-list{
  padding: 10px;
  background: #fff;
}
.question-list p{
  display: flex;
  line-height: 24px;
}
.question-list .qt i{
  color: #f26363;
} 
.question-list .qt{
  color: #4a4a4a;
  margin-bottom: 10px;
  font-size: 16px;
  position: relative;
}
.question-list .an{
  color: #6b6868;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.question-list .an.last-an{
  margin-bottom: 0;
  border-bottom: 0;
}
.question-list .an i{
  color: #4da032;
}

/* 分享 */
.share-warp.good-share{
  float: right;
  margin-right: -10px;
  position: inherit;
  color: #8a6666;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-animation:play 3s linear infinite;
  -moz-animation:play 3s linear infinite;
  animation:play 3s linear infinite;
}
@-webkit-keyframes play{
  0% {
      -webkit-transform:rotateY(0deg);
  }
  100% {
      -webkit-transform:rotateY(360deg);
  }
}
@-moz-keyframes play{
  0% {
      -moz-transform:rotateY(0deg);
  }
  100% {
      -moz-transform:rotateY(360deg);
  }
}
@keyframes play{
  0% {
      transform:rotateY(0deg);
  }
  100% {
      transform:rotateY(360deg);
  }
}
/* 分享结束 */