meta(name="applicable-device", content="mobile")
meta(http-equiv="Cache-Control", content="no-transform")
meta(http-equiv="Cache-Control", content="no-siteapp")
meta(name="MobileOptimized", content="width")
meta(name="HandheldFriendly", content="true")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name="apple-mobile-web-app-title", content="贵溪土鸡")
link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
link(rel="stylesheet", type="text/css", href="/css/style_m.css?#{new Date().getTime()}")
script.
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?700e71e33ed7afff999b83f80b95cffd";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();